.gradient-text {
  /* background: linear-gradient(90deg, #ff7f7f, #6395e0); */
  background: whitesmoke;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.card-max {
  max-height: 400px; /* set your desired max height */
  overflow: hidden;  /* hide anything that goes beyond */
}

.scroll-container {
  overflow-x: auto;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}


.scroll-container::-webkit-scrollbar {
  height: 6px; /* thickness */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* no ugly white */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3); /* subtle color */
  border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.5);
}

/* in your CSS file */
.btn-custom-success {
  /* background-color: #1b6359f3 !important; */
  border-color: #1b6359f3 !important;
   background: linear-gradient(
    145deg,         /* diagonal gradient for a modern look */
    #1b6359f3 0%,   /* darker teal */
    #259187f3 70%  /* lighter teal at the tip */
  ) !important;
  color: white; /* ensures text is readable */
}

.btn-custom-success:hover {
  background-color: #165147f3 !important; /* slightly darker for hover */
  border-color: #165147f3 !important;
}

